#home{
  display: flex;
  flex-wrap: nowrap;
  img{
    position: relative;
    display: block;
    position: relative;
    right: -100%;
    width: 50%;
    animation-name: flow-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

.main-txt{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    text-shadow: 1px 1px 1px rgb(31, 30, 30);
    text-align: left;
    position: relative;
    animation-name: flow-down;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.445,0.05,0.55,0.95);
    animation-fill-mode:forwards;
}

@media(max-width: 1300px){
    #home{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 4rem;
      gap: 0;
      text-align: left;
      .main-txt{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
      }
      #name{
        font-size: 4rem;
        text-align: left;
      }
      img{
        height: 400px;
        width: 400px;
      }
      .secondary-txt{
        font-size: 1rem;
      }
      #project-btn{
        padding: 1rem 5.5rem;
        font-size: 1.25rem;
      }
    }
      
}

@media(max-width: 730px){
  #home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    .main-txt{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
    img{
      max-height: 375px ;
      max-width: 375px;
    }
    #project-btn{
      padding: .5rem 3.5rem;
      font-size: .75rem;
    }
  }
  
}

#name {
    font-size: 6rem;
    letter-spacing: -4px;
    font-weight: 600;
    line-height: 1;
    font-family: var(--font-sans);
  }

.secondary-txt{
    font-size: 2.25rem;
    font-weight: 400;
    width: 100%;
    line-height: 1.6;
    font-family: var(--font-mono);
  }

#project-btn{
    padding: 1.25rem 6.5rem;
    font-size: 2.25rem;
    color:var(--light-green);
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid var(--light-green);
    cursor: pointer;
  }

  #project-btn:hover{
    background: var(--dark-green);
    color: var(--base-white);
    border: 2px solid var(--dark-green);
    transition: 1s;
  }