.project-title{
    padding-top: 5rem;
    float: left;
    width: 50%;
    padding-bottom: 3rem;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    h3{
        font-size: 3rem;
        font-weight: bolder;
        color: var(--light-green);
        padding-top: 1rem;
    }
}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    img{
        border: .05px solid var(--light-green);
        border-radius: 15px;
    }
}

.carousel{
    width: 40%;
    padding-top: 1rem;
}

.project-text{
    width: 50%;
}

.regular-button a {
    text-decoration: none;
    background: transparent;
    color:var(--dark-purple);
}

.tech{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    margin-left: -2rem;
}

.technologies{
    padding: .5rem .5rem;
    background: rgba(#999, 0.2);
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;

    @media(max-width:1300px){
            font-size: .75rem;
    }
    
}

//media rules

@media (max-width: 1850px){
    .projects{
        .technologies{
            font-size: .75rem;
        }
    }
    
}
@media (max-width: 1000px){
    .project-title{
        width: 100%;
        padding-bottom: 1rem;
    }
    .project-text{
        width: 100%;
    }
    .carousel{
        width: 100%;
    }
    .project{
        border-bottom: 1px solid var(--light-green);
    }
    .projects{
        h3{
            font-size: 2rem;
        }
    }
}

@media (max-width: 600px){
    img{
        height: 225px;
        width: auto;
        object-fit: cover;
    }
}
.wsc{
    width: 50%;
}